body{
	background: url("../images/slider-bg-bottom.png") repeat;
	color: #000;
}


.result{
	display:none;
	background: url("../images/slider-bg-bottom.png") repeat;
	z-index: 1010;
	position: fixed;
	top: 0px;
	width:100%;
	height:100%;
	border-radius: 10px 10px 10px 10px;
	border-color: #69A000;
}

img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}